name: SonarQube Analysis

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Build with Maven
        shell: powershell
        run: |
          $env:Path = "C:\ProgramData\chocolatey\lib\maven\apache-maven-3.9.11\bin;$env:Path"
          mvn --version
          mvn clean compile -DskipTests
      
      - name: SonarQube Scan
        run: |
          docker run --rm -e SONAR_HOST_URL=http://host.docker.internal:9000 -e SONAR_TOKEN=${{ secrets.SONAR_TOKEN }} -v "${{ github.workspace }}:/usr/src" --add-host=host.docker.internal:host-gateway sonarsource/sonar-scanner-cli
      
      - name: Analysis Complete
        if: success()
        run: echo "Analyse SonarQube terminee avec succes! Consultez http://localhost:9000"
