name: SonarQube Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonar:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: SonarQube Scan
        shell: cmd
        run: |
          docker run --rm -e SONAR_HOST_URL=${{ secrets.SONAR_HOST_URL }} -e SONAR_TOKEN=${{ secrets.SONAR_TOKEN }} -v "%CD%:/usr/src" sonarsource/sonar-scanner-cli
      
      - name: Check Quality Gate
        shell: cmd
        run: |
          echo Analyse SonarQube terminee!
          echo Consultez les resultats sur: ${{ secrets.SONAR_HOST_URL }}
