name: SonarQube Analysis

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: SonarQube Scan
        shell: powershell
        run: docker run --rm -e "SONAR_HOST_URL=${{ secrets.SONAR_HOST_URL }}" -e "SONAR_TOKEN=${{ secrets.SONAR_TOKEN }}" -v "${{ github.workspace }}:/usr/src" sonarsource/sonar-scanner-cli
