name: SonarQube Analysis

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SonarQube Scan
        shell: pwsh
        run: |
          docker run --rm `
            -e SONAR_HOST_URL=${{ secrets.SONAR_HOST_URL }} `
            -e SONAR_LOGIN=${{ secrets.SONAR_TOKEN }} `
            -v "${{ github.workspace }}:/usr/src" `
            sonarsource/sonar-scanner-cli
